#grid {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#grid>article {
    width: calc(100% / 10 - 4px);
    height: calc(100% / 10 - 4px);
    border: 2px solid black;
}